div.css-1r6slb0.e1tzin5v2 {
    background-color: #1010102d;
    border: 2px solid #5a9f916b;
    padding: 1% 1% 1%;
    border-radius: 5px;
    text-align: center;
}
 
div.css-1yy6isu.e16nr0p34 {
    text-align: center

}


div.css-1r6slb0.e1tzin5v2{
    background-color: #1010102d;
    border: 2px solid #5a9f916b;
    padding: 1% 1% 1%;
    border-radius: 5px;
    font-weight: 200;
    line-height: 1.6;
    
    text-align: center;
}

/* div.css-1wivap2.e16fv1kl3{

    


} */



/* 
div.css-1a32fsj.e19lei0e0 {

    background-color: #1010102d;
    border: 2px solid #5a9f9122;
    padding: 3% 3% 3% 3%;
    border-radius: 5px;

} */

